==
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="#">Proyecto Riesca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="li_inicio" class="nav-item">
                <a class="nav-link" href="/cms/">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_galeria" class="nav-item">
                <a class="nav-link" href="/cms/galeria/">Galería
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_fichatecnica" class="nav-item">
                <a class="nav-link" href="/cms/fichatecnica/">Ficha técnica
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_resumen" class="nav-item">
                <a class="nav-link" href="/cms/resumen/">Resúmen
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_objetivos" class="nav-item">
                <a class="nav-link" href="/cms/objetivos/">Objetivos
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_metodologia" class="nav-item">
                <a class="nav-link" href="/cms/metodologia/">Metodología
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_instituciones" class="nav-item">
                <a class="nav-link" href="/cms/instituciones/">Instituciones
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_contactos" class="nav-item">
                <a class="nav-link" href="/cms/contactos/">Contactos
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li id="li_aulavirtual" class="nav-item">
                <a class="nav-link" href="/cms/aulavirtual/">Aula Virtual
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>